<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/favicon.ico">
  <title>abas help editor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <link href="/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
    <% if(auth) { %>
    <input type="password" id="password" class="form-control" placeholder="Password" required="" autofocus="">
    <% } %>
    <button class="btn btn-lg btn-primary btn-block" id="login">Sign in</button>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script>
    $(document).ready(function() {

      function login(){
        $.post("/auth", {
          username: $('#inputName').val(),
          password: $('#password').val()
        }).done(function(data) {
          if(!data.error){
            window.location.reload();
          }else{
            toastr['error'](data.reason, "login failed");
          }

        }).fail(function(data) {
          toastr['error']("see console", "login failed");
          console.log("Fehler");
        });
      }

      $('#inputName').keypress(function(e) {
        if(e.which == 13) {
            login();
        }
    });

    $('#password').keypress(function(e) {
      if(e.which == 13) {
          login();
      }
  });

      $('#login').click(function() {
        login();
      });
    });
  </script>
</body>

</html>
