<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/favicon.ico">
  <title>abas help editor -
    <%= docName %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <link href="/style.css" rel="stylesheet">
  <link href="/abas-style.css" rel="stylesheet">
</head>

<body class="container-fluid">
  <section id="container" class="row">
    <div class="full-height" id="input">
      <textarea autofocus id="pad"></textarea>
      <div class="info">Input</div>
    </div>
    <div class="full-height" id="output">
      <div id="html">
        <div id="html-content"></div>
        <div class="info"><a href="#" id="prev-window">Preview</a></div>
      </div>
      <div id="xml">
        <textarea autofocus id="xml-content" disabled></textarea>
        <div class="info"><a href="#" id="xml-window">XML</a></div>
      </div>
    </div>
  </section>
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">a-h-e</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" role="button" >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#helpModal">
            Help
          </a>
        </li>
        <% if(config.auto_validate) { %>
        <li class="nav-item dropup">
          <a class="nav-link" href="#" id="save-xml" role="button">
            store XML
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-error" id="validationstate" disabled>not valide</button>
        </li>
        <% }  else { %>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              XML
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="save-xml" href="#">Save</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="validate-xml" href="#">Validate</a>
            </div>
          </li>
        <% } %>
      </ul>
      <span class="navbar-text" style="margin-right: 15px;">
        Welcome <%= user %>!
      </span>
      <button class="btn btn-outline-success my-2 my-sm-0" id="logout">logout</button>
    </div>
  </nav>

  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Help</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">abas xml</th>
                <th scope="col">markdown</th>
                <th scope="col">description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">&lt;A&gt;</th>
                <td>[Text](http://...)</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;B&gt;</th>
                <td>__ strong __</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;BR /&gt;</th>
                <td>at least two linebreaks in a row (hit two times enter)</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;![CDATA[..]]&gt;</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;CONTENTS&gt;</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;DL&gt;&lt;DT&gt;&lt;DD&gt;</th>
                <td>
                  ;; {title 1} description <br />
                  ;; {title 2} description 2 <br />
                  ;; {title} description || description 2 to this <br />
                </td>
                <td>DL definition list<br /> DT definition title<br /> DD definition description
                </td>
              </tr>
              <tr>
                <th scope="row">&lt;H&gt;</th>
                <td>
                  .. Text<br /> .. {ID} Text
                </td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;H1&gt;&lt;H2&gt;&lt;H3&gt;&lt;H4&gt;&lt;H5&gt;&lt;H6&gt;</th>
                <td>
                  # heading h1 <br /> ## heading h2 ... <br /> # {ID} heading h1 <br /> # {ID,SPLIT} heading h1
                </td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;HR /&gt;</th>
                <td>Some Content<br /><br />---</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;I&gt;</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;IMG /&gt;</th>
                <td>![alternate text](path)</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;INDEX&gt;</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;LANG&gt;</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;OL&gt;&lt;UL&gt;&lt;LI&gt;</th>
                <td>ordered list:<br />1. first item</br />2. second item <br /><br /> unordered list: <br /> * first item<br />* second item</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;MARK /&gt;</th>
                <td>{{ID}}</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;P&gt;</th>
                <td>
                  &gt; This will be on line<br /> &gt;
                  <br /> &gt; This will be the next line in this paragraph<br />
                  <br /><br /> &gt; This will be the next paragraph<br /> &gt;
                  <br /> &gt; This will be the next line in this paragraph<br />
                </td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;PP&gt;</th>
                <td>~{TYPE} TITLE<br /> ... <br />Content<br /> ... <br />~</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;PRE&gt;</th>
                <td>
                  ```<br /> some code<br /> ```
                </td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;PROGRAM&gt;</th>
                <td>`<br /> some code <br />`</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;REF&gt;</th>
                <td>*{ID}Text*</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;TABLE&gt;&lt;TD&gt;&lt;TH&gt;&lt;TR&gt;&lt;CAPTION&gt;</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">&lt;TT&gt;</th>
                <td>** non proportianl font **</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js"></script>
  <script>
    var infoDocument = null;
    var pd = null;
    var username = "<%= user %>";
  </script>
  <script src="/dist/bundle.js"></script>
  <script src="/markdown/abas-markdown-xml.js"></script>
  <script src="/markdown/abas-markdown-html.js"></script>

  <script src="/main.js"></script>
  <script src="/pad.js"></script>
  <% if(config.auto_validate) { %>
  <script src="/validation.js"></script>
  <% } %>
  <script>
    $(document).ready(function() {
      $('#logout').click(function() {
        $.post("/auth").done(function() {
          window.location.reload();
        }).fail(function() {
          console.log("Fehler");
        });
      });
    });
  </script>
</body>

</html>
